/*  
	///////////////////////////////////////////
	//									     //
	//			VARIABLES & IMPORTS			 //
	//									     //
	///////////////////////////////////////////
*/

// fonts 
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab:700&display=swap');
// colors

$black: #222222;
$grey: #5b5656;
$light-grey: #9c9797;
$white: #eeeeee;

$red: #be3030;
$orange: #ff7100;
$blue: #2e279d;
$light-blue: #0288d1;
$green: #52de97;
$purple: #8b2f97;

// font properties

$f-primary: 'Open Sans', sans-serif;
$f-secondary: 'Roboto Slab', serif;

$font-xs: 14px;
$font-s: 18px;
$font-m: 24px;
$font-l: 32px;
$font-xl: 42px;
