
// gallery

.card
{
    border: none;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: -10.75rem;
        left: 50%;
        height: 7em;
        border-left: solid 1px $green !important;
    }

    &:before {
        content: '';
        display: block;
        width: 90px;
        height: 66px;
        position: absolute;
        left: 50%;
        top: -4.5em;
        margin-left: -45px;
        margin-top: -33px;
        background: url('/assets/img/images/arrow.svg') no-repeat;
    }

    .card-body
    {
        color: $black;
        padding: 3rem;
        padding-top: 10%;

        .card-title
        {
            font-size: $font-m;
        }

        .card-text
        {
            font-size: $font-s;
        }
    }
}

// short icons

.short-icon
{
    color: $blue;
    margin: 4rem;
}

.short-text
{
    color: $blue;
}

.short-subtext
{
    color: $black;
}

// scroll down arrow

.arrow{
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid $white;
    border-right: 5px solid $white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(230%);
    transition: transform 0.4s ease-in-out;
    z-index: 999;
}

.social-panel-container.visible {
	transform: translateX(-12px);
}

.social-panel {	
    border-radius: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 476px;	
	width: 20px;
	max-width: calc(100% - 10.5px);
}

.social-panel ul {
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
    margin: 0 10px;
    
}

.social-panel ul li a {
	border-radius: 0;
	color: $white;
	cursor: pointer;
	font-size: $font-s;
	line-height: 20px;
	padding: 10px 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

// spinners

.spinner-1:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 6rem;
    width: 6rem;
    margin-top: -3rem;
    margin-left: -3rem;
    border-radius: 50%;
    border: 3px solid $white;
    border-top-color: $black;
    animation: spinner 0.7s ease infinite;
  }
  
  .spinner-2:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 6rem;
    width: 6rem;
    margin-top: -3rem;
    margin-left: -3rem;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $black;
    border-bottom-color: $black;
    animation: spinner 0.7s linear infinite;
  }
  
  .spinner-3:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 6rem;
    width: 6rem;
    margin-top: -3rem;
    margin-left: -3rem;
    border-radius: 50%;
    border-top: 3px solid $black;
    border-right: 3px solid transparent;
    animation: spinner 0.7s linear infinite;
  }
  
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }