input[type="text"] {
    border: none !important;
    border-radius: 0 !important;
    padding: 1.5rem !important;
    font-size: $font-s !important;
    transition: 0.5s ease;
    outline: none;
    box-shadow: none !important;
    color: white !important;
    border-bottom: 2px solid $grey !important;
    background-color: transparent;
    &:focus {
        border-bottom: 2px solid $purple !important;
        outline-color: transparent !important;
        background-color: transparent;
    }
}

input[type="email"] {
    @extend input[type="text"];
}

input[type="tel"] {
    @extend input[type="text"];
}

input::placeholder {
    color: white !important;
}

textarea {
    @extend input[type="text"];
    border: 2px solid $grey !important;
    background-color: $black !important;
    &:focus {
        border: 2px solid $purple !important;
    }
}

.form-group {
    margin: 2rem 0 !important;
}

.help-block {
    color: $red;
}

.hidden {
    display: none;
  }

  .btn-send
  {
      @extend .btn-cta-primary;
      border: 1px solid $purple !important;
      color: white;
      &:hover
      {
          color: white;
      }
  }